@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.superparent{
    width:200px;
    display: flex;
    flex-direction: column;
    border:1px solid rgb(176, 176, 176);
    border-radius: 6px;
    ;
}
.agent_parent{
    border:none;
    border-bottom:1px solid rgb(212, 212, 212);
    border-radius: 0px;
    font-family: Inter;
    padding:4px;
    display :flex;
    align-items: center;
    font-family: Inter;
    font-weight: 500;
    text-align: left;
    font-size: 14px;
    width:95%;
}
.same{
    font-family: Inter;
    font-weight: 400;
    line-height: 13.25px;
    text-align: left;
    font-size: 10.95px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F8FAFC;
    padding:10px;
}