@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.headOfpopup{
    padding-left: 20px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-family: Inter;
 border-bottom: 1px solid rgb(229, 229, 229);
}

.name1,.desc1{
    font-family: Inter;
    margin-bottom: 10px;
    border: none;
    padding-left:20px;
    
}
.name2,.desc2{
    width:90%;
    margin-left: 20px;
}
.desc2{
    height:150px;
}
.parentofSecondInstance{
    
    border:1px solid rgb(187, 184, 184);
    border-radius: 5px;
    width:542px;
}
#one,#two{
    border-radius:5px;
    padding: 6px 10px;
    margin-left:10px;
    border:none;
}
#two{
    background-color: green;
    color: aliceblue;
    
}
.forButtons{
    margin-top: 10px;
    
    border-top:1px solid rgb(227, 224, 224);
    display: flex;
    justify-content: end;
    padding:10px;
}
