@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.parent{
    width:97vw;
    height:100vh;
    display:flex;
    flex-direction: column;
    
}
.sub_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.myStacks{
    width: 114px;
    top: 89px;
    left: 51px;
    gap: 0px;
    opacity: 0px;
    height: 28px;
    font-family: Inter;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.04em;
    text-align: left;
    font-size: 24px;

}
hr {
    width: 100%; /* Set the width to 100% */
    height:.35px;
    border:none;
    background-color:#E4E8EE;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(95, 95, 95, 0.5); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
   background-color: #ffffff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Box shadow for the modal */
  }
#components>div{
    background-color: #ffffff;
    font-family: Inter;
    border:1px solid rgb(216, 216, 216);
    border-radius: 3px;
    width:12em;
    margin-right: 20px;
    padding:26px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#components{
    display: flex;
    position:relative;
}
#push{
    border: 1px solid rgb(213, 213, 213);
    background-color: #fffdfd;
    padding:6px;
    width:9em;
    text-align: left;
    font-family: Inter;
    float:right;

}